@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto','Noto Sans TC', sans-serif;
}
a{
    text-decoration: none;
}
html, body{height:100%;min-height: 100%;}
#app {
    min-height: 100%;
    background-color: #CDDCDC;
    background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.intro-wraper{
    display: block;
    margin-top: 15px;
    .row{
        height:100%;
        width: 100%;
    }
    .col-12{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .intro-content{
        position: relative;

        div{
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 45px;

        }

        & div:first-child::before{
            content:"";
            position: absolute;
            background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

            width: calc(100% + 40px);
            height: 10px;
            border-radius: 10px;
            top:0px;
            left:0px;
            transform: translateX(-20px);
            animation: LineGrow 1.5s infinite alternate;
        }
        & div:last-child::before{
            content:"";
            position: absolute;
            background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

            width: calc(100% + 40px);
            height: 10px;
            border-radius: 10px;
            bottom:0px;
            right:0px;
            transform: translateX(20px);
            animation: LineGrow 1.5s infinite alternate;
        }
    }
    button{
        background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
        background-size: 200%;
        background-position:0% ;
        background-repeat: no-repeat;
        animation: neon 1s linear infinite alternate;
        position:relative;
        z-index: 0;
        font-weight: 700;
        border: 0px solid black;
        padding: 8px 18px;
        color:aliceblue;
        &:hover{
            transform: translateY(-5px);
            transition: transform 0.25s;
            background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
            &::before{
                background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);

            }
        }
        &::before{
            content:"";
            width: 100%;
            height: 100%;
            position:absolute;
            top: 0px;
            left:0px;
            filter: blur(20px);
            z-index: -1;

            background: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
            background-size: 200%;
            border-radius: 2rem;
            background-position:0% ;
            background-repeat: no-repeat;
            animation: neon-filter 1s linear infinite alternate;

        }
    }

}
@keyframes neon-filter{
    0%{
        background-position: 0%;
        filter: blur(0px);
    }

    100%{
        background-position: 100%;
        filter: blur(20px);

    }
}
@keyframes neon{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 100%;
    }
}
@keyframes LineGrow{
    0%{
        width: 0%;
    }

    100%{
        width: calc(100% + 40px);
    }
}
.orders {
    min-height: 841px;
    align-items: center;
    align-content: flex-start;
    .col-12{
        height: 275px;
        a{
            box-shadow: 7px 7px 15px 0px rgba(250, 208, 196,0.8);
            overflow:hidden;
            text-decoration: none;
        }
    }
    .col-12:hover{
        transition-duration: 0.5s;
        transform: translateY(-20px);

        a::before{
            z-index: 5;
            content: "";
            position: absolute;
            width: 1500px ;
            height: 1500px;
            top:0%;
            left:0%;
            border-radius: 2rem;
            background-image: linear-gradient(to right, #ffc3a0 0%, #ffc3a0 100%);
            animation-name:Shiny ;
            animation-duration:2s ;
            transform: rotate(-45deg)   translateY(-50%);
        
        }
    }
}

.order{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        z-index:10;
    }
    .content{
        display: flex;
        flex-direction: column;
        margin:20px 0px 0px 0px;
        width: 100%;
        height:100%;
        z-index:10;
    
    }
}

@keyframes Shiny{
    0%{
        transform: rotate(-45deg)  translateY(-125%);
    }
    100%{
        transform: rotate(-45deg)  translateY(-50%);
    }
}


.text-blue{
    background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-orange{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-image: -webkit-linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.header{
    width: 100%;
    box-shadow: 5px 5px 10px 0px #a1c4fd;
    overflow: hidden;
    .header-brand{
        display: flex;
        align-items: center;
        span{
            font-size: 36px;

        }

    }
    button{
        i{
            font-size: 28px;
        }
    }
    .header-bar{
        min-height: 75px;
        width: 100%;
        display: flex;
        align-items: center;

    }
    .collapse-wrapper{
        display: flex;
        max-height: 0px;
        transition: max-height 1s ease;
        flex-basis: 100%;
        overflow: auto;
        margin: 0px;
        li{
            line-height: 50px;
            font-size: 18px;
            padding: 0px 5px;
            align-self: stretch;
        }
        
        @media  (min-width: 992px){
            &{
                max-height: 50px !important;
                flex-basis: auto;

            }
        
        }
    }


}

